<div [hidden] = "oculto " class="desplegableChico justify-content-end">
    <div class="card ">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <a href="">FAQ</a>
            </li>
            <li class="list-group-item">
                <a href="">Mi cuenta</a>
            </li>
            <li class="list-group-item">
                <a href="">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</div>
<div (click)="mostrarOptions()" class="botonBurger">
    <img src="../../assets/burgerIcon.png" class="burger">
</div>