a{
    color:white;
}
li{
    background-color: #175CBA;
}
.desplegableChico{
    width: fit-content;
    position: absolute;
    right: 0;
    margin: 12% 0 0 20%;
    z-index: 2;
}
.burger{
    height: 50% !important;
    padding: 0 0 0 5%;
}
.botonBurger{
    cursor: pointer;
}