#nav{
    background-color: #175CBA;
}
li a{
    color: white !important;
    font-size: large;
}
a:hover{
    cursor: pointer;
}
li{
    margin: 0 15%;
    border-bottom: 3px #175CBA solid;
}
li:hover{
    border-bottom: 3px white solid;
}
.logo{
    height: 40%;
}
#cuenta{
    width: 150px;
}


.iconRight{
    margin: 0 0 0 5%;
}