.margin-top {
    margin-top: 3%;
}

.margen {
    margin: 3%;
}

#agregar-plan{
    padding: 2% 16%;
    margin: 4% 0;
}

.centrar{
    display: flex;
    justify-content: center;
}

.ancho {
    width: 100%;
}

@media (max-width: 576px) {
    .info-viaje {
        margin: 0 0 5% 0;
    }
  }