<nav class="navbar navbar-expand-lg" id="nav">
    <img src="../../assets/logo.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-6 d-flex justify-content-center collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >Estadisticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cuenta"  >Mi Cuenta</a>
        </li>
      </ul>
    </div>
  </nav>
