<div class="fondo-blanco info-margen">
    <div class="centrado">
        <h4 class="negrita">Info de viaje</h4>
    </div>

    <div class="row">
        <div class="col-6">
            Codigo de reserva:
        </div>
        <div class="col-6 negrita">
            05555602036220
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Informacion aeronave:
        </div>
        <div class="col-6 negrita">
            BOEING 777 JET
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Sale a la(s):
        </div>
        <div class="col-6 negrita">
            12:50pm (jue,sep 4)
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Hora de llegada(ida):
        </div>
        <div class="col-6 negrita">
            6:50am (vie, sep 5)
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Aeropuerto de salida:
        </div>
        <div class="col-6 negrita">
            Ezeiza
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Aeropuerto de llegada:
        </div>
        <div class="col-6 negrita">
            ROME FIUNCINO(ITALIA)
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Clase: 
        </div>
        <div class="col-6 negrita">
            Economica
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Asientos: 
        </div>
        <div class="col-6 negrita">
            40h/confirmado
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Terminal salida:
        </div>
        <div class="col-6 negrita">
            Terminal B
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Terminal llegada: 
        </div>
        <div class="col-6 negrita">
            Terminal F
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Escala(s): 
        </div>
        <div class="col-6 negrita">
            Ninguna
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Duracion: 
        </div>
        <div class="col-6 negrita">
            13 horas y 00 minutos
        </div>
    </div>
</div>
