<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show':mostrarModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="d-flex modal-header">
          <h5 class="modal-title">Agregar viaje</h5>
          <button type="button" id="cerrar" (click)="mostrarModal = false" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-12 form-group">
                <label >Origen</label>
                <input ngModel name="origen" #origen="ngModel"  type="text" class="form-control"  placeholder="Argentina...">
              </div>
              <div class="col-6">
                <label>Ida</label>
                <input ngModel name="ida" #ida="ngModel" type="datetime-local" class="form-control">
              </div>
              <div class="col-6">
                <label>Vuelta</label>
                <input ngModel name="vuelta" #vuelta="ngModel"  type="datetime-local" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="col-12 form-group espacio">
                <label>Destino</label>
                <input  type="text" name="destino" ngModel name="destino" #destino="ngModel"  class="form-control" placeholder="Turquia...">
              </div>
            </div>
          </form>
          <input type="button" (click)="getDatos(origen, destino, ida, vuelta)" class="btn btn-primary" id="agregarViaje" value="Agregar">
        </div>
      </div>
    </div>
  </div>

  <button (click)="mostrarModal=true" type="button"  data-toggle="modal" data-target="#exampleModal">
    {{txtBoton}} <img src="{{url}}" alt="">
  </button>
